In [3]:
import pandas as pd
import numpy as np
import math
import os

def printCategory(category_dict):
    for category in category_dict:
        print(category)
        if category_dict[category] is not None:
            sub_dic = category_dict[category]
            printCategory(sub_dic)
            
def createLevelColumns(df, levels, new_columns):
    for i in range(len(df)):
        
        df_level1, df_level2, df_level3 = "NULL","NULL","NULL"
        
        df_level1, nextLevels = findNotNullLevel(df, i, levels)
        if nextLevels is not None:
            df_level2, nextLevels = findNotNullLevel(df, i, nextLevels)
            if nextLevels is not None:
                df_level3, nextLevel = findNotNullLevel(df, i, nextLevels)
        
        most_specific_category = "NULL"
        
        if df_level3 != "NULL":
            df_level3 = df_level3 + "__" + df_level2 + "__" + df_level1
        if df_level2 != "NULL":
            df_level2 = df_level2 + "__" + df_level1
        
        if df_level3 != "NULL":
            most_specific_category = df_level3
        elif df_level2 != "NULL":
            most_specific_category = df_level2
        elif df_level1 != "NULL":
            most_specific_category = df_level1
        
        df.iloc[i, df.columns.get_loc('level1')] = df_level1
        df.iloc[i, df.columns.get_loc('level2')] = df_level2
        df.iloc[i, df.columns.get_loc('level3')] = df_level3
        df.iloc[i, df.columns.get_loc('mostSpecificCategory')] = most_specific_category
        
def findNotNullLevel(df, i, levels):
    for level in levels:
        if df.iloc[i][level] == "NULL":
            continue
        else:
            return df.iloc[i][level], levels[level]
    return "NULL", None

def unionTwoLists(list1, list2):
    for category in list1:
        if category not in list2:
            list2.append(category)
    return list2

def checkNULL(checked_list):
    for item in checked_list:
        if item == "NULL":
            print("Contains NULL")
            return
    print("Not contains NULL")

#### 导入数据 yearly and range
#### process为designed schema
1. GazetteerEconomy table

    1.1 Index - Id
    
    1.2 Gazetteer Code - gazetteerId
    
    1.3 Category - categoryId
    
    1.4 yearly - startYear = endYear
    
    1.5 2010 data - data
    
    1.6 Unit - unitId
    
2. EconomyCategory table
    2.1 Category Division1 Subdivision - Agri. Subdivision - Misc. Subdivision - Service Division2 Subdivision - Househould
    
3. UnitCategory

4. Gazetteer

In [4]:
path = os.path.abspath(os.getcwd())
df = pd.read_csv(path + "/Data2/Economy - Yearly.csv")
df2 = pd.read_csv(path + "/Data2/Economy - Range.csv")

In [6]:
# create new columns at df and df2
new_columns = ['level1', 'level2', 'level3', 'mostSpecificCategory', 'categoryId']

for column in new_columns:
    df[column] = None
df = df.where(df.notnull(), "NULL")

for column in new_columns:
    df2[column] = None
df2 = df2.where(df2.notnull(), "NULL")

# create dictionary records category levles
heading = {'Category': 
            {'Division1':{'Subdivision - Agri.': None, 'Subdivision - Misc.': None, 'Subdivision - Service': None}, 
             'Division2':{'Subdivision - Household': None}
            }
           }

printCategory(heading)


createLevelColumns(df, heading, new_columns)
createLevelColumns(df2, heading, new_columns)

level1 = unionTwoLists([cat for cat in df['level1'].astype('category').unique()], 
                       [cat for cat in df2['level1'].astype('category').unique()] )

level2 = unionTwoLists([cat for cat in df['level2'].astype('category').unique()], 
                       [cat for cat in df2['level2'].astype('category').unique()] )

level3 = unionTwoLists([cat for cat in df['level3'].astype('category').unique()], 
                       [cat for cat in df2['level3'].astype('category').unique()] )

most_specific_category = unionTwoLists([cat for cat in df['mostSpecificCategory'].astype('category').unique()],
                                       [cat for cat in df2['mostSpecificCategory'].astype('category').unique()])

total_categories = unionTwoLists(level1, level2)
total_categories = unionTwoLists(level3, total_categories)

# get total categories
total_categories.sort()
checkNULL(total_categories)
print("total number of categories are " + str(len(total_categories)))
# temp = [ item.split('__', 1) for item in total_categories]

# get most specific category
most_specific_category.sort()
checkNULL(most_specific_category)
print("total number of recorded categories are " + str(len(most_specific_category)))

# create dict "dic_category_id" store { category_name : id}
dic_category_id = {}
count = 1
for category in total_categories:
    if category != "NULL" and category not in dic_category_id:
        dic_category_id[category] = count
        count = count + 1

# create dict "dic_for_unitId" stores {unit: id}
dic_for_unitId = {}
count = 1
units_from_df = unionTwoLists([cat for cat in df['Unit'].astype('category').unique()], [cat for cat in df2['Unit'].astype('category').unique()])
for unit in units_from_df:
    if unit not in dic_for_unitId:
        dic_for_unitId[unit] = count
        count = count + 1

Category
Division1
Subdivision - Agri.
Subdivision - Misc.
Subdivision - Service
Division2
Subdivision - Household
Contains NULL
total number of categories are 67
Not contains NULL
total number of recorded categories are 59

In [7]:
# creat categoryId column at dataframe
df_categoryId = []
for i in range(len(df)):
    category = df.iloc[i]['mostSpecificCategory']
    if category in dic_category_id:
        df_categoryId.append(dic_category_id[category])
    else:
        print("Not recorded category for entity " + i)
        break;
df['categoryId'] = df_categoryId

df_categoryId = []
for i in range(len(df2)):
    category = df2.iloc[i]['mostSpecificCategory']
    if category in dic_category_id:
        df_categoryId.append(dic_category_id[category])
    else:
        print("Not recorded category for entity " + i)
        break;
df2['categoryId'] = df_categoryId

In [8]:
df2.columns

Index(['村志代码 Gazetteer Code', '村志书名 Gazetteer Title', 'Category', 'Division1',
       'Subdivision - Misc.', 'Subdivision - Service', 'Division2',
       'Subdivision - Household', 'Subdivision - Agri.', 'Unit', 'Start Year',
       'End Year', 'Data', 'level1', 'level2', 'level3',
       'mostSpecificCategory', 'categoryId'],
      dtype='object')

In [9]:
# create economy_df
economy_df = pd.DataFrame(columns = ['gazetteerId', 'categoryId', 'startYear', 'endYear', 'data', 'unitId'])
years = [str(i) for i in range(1949,2020)]
dic_for_economy_df = {'gazetteerId':[], 'categoryId':[], 'startYear':[], 'endYear':[], 'data':[], 'unitId':[]}

# Process yearly data
for i in range(len(df)):# each row
    for year in years: # 1949 - 2019
        if df.iloc[i][year] != "NULL":
            dic_for_economy_df['gazetteerId'].append(df.iloc[i]['村志代码 Gazetteer Code'])
            dic_for_economy_df['categoryId'].append(df.iloc[i]['categoryId'])
            dic_for_economy_df['startYear'].append(int(year))
            dic_for_economy_df['endYear'].append(int(year))
            dic_for_economy_df['data'].append(df.iloc[i][year])
            dic_for_economy_df['unitId'].append(dic_for_unitId[df.iloc[i]['Unit']])

# Process range data
for i in range(len(df2)):
    dic_for_economy_df['gazetteerId'].append(df2.iloc[i]['村志代码 Gazetteer Code'])
    dic_for_economy_df['categoryId'].append(df2.iloc[i]['categoryId'])
    dic_for_economy_df['startYear'].append(df2.iloc[i]['Start Year'])
    dic_for_economy_df['endYear'].append(df2.iloc[i]['End Year'])
    dic_for_economy_df['data'].append(df2.iloc[i]['Data'])
    dic_for_economy_df['unitId'].append(dic_for_unitId[df.iloc[i]['Unit']])

for attribute in economy_df.columns:
    economy_df[attribute] = dic_for_economy_df[attribute]
    

economy_df.head()

   gazetteerId  categoryId  startYear  endYear  data  unitId
0            1          61       2008     2008  3232       3
1            1          60       2001     2001  2000      11
2            1           6       2000     2000  2565       4
3            1           6       2001     2001  2594       4
4            1           6       2008     2008  3000       4

In [10]:
# create economyCategory_df
economyCategory_df = pd.DataFrame(columns = ['id', 'name', 'parentId'])
dic_for_ecoCategorydf = {'id':[], 'name':[], 'parentId':[]}

for category in dic_category_id:
    child_parent = category.split('__', 1)
    name = child_parent[0]
    if len(child_parent) == 1:
        dic_for_ecoCategorydf['id'].append(dic_category_id[category])
        dic_for_ecoCategorydf['name'].append(name)
        dic_for_ecoCategorydf['parentId'].append("NULL")
    else:
        parentId = dic_category_id[child_parent[1]]
        dic_for_ecoCategorydf['id'].append(dic_category_id[category])
        dic_for_ecoCategorydf['name'].append(name)
        dic_for_ecoCategorydf['parentId'].append(parentId)
        
for attribute in economyCategory_df.columns:
    economyCategory_df[attribute] = dic_for_ecoCategorydf[attribute]
len(economyCategory_df)

66

In [11]:
# creat economyUnitCategory_df
economyUnitCategory_df = pd.DataFrame(columns = ['id', 'name'])
dic_for_economyUnitCategory_df = {'id':[], 'name':[]}

for unit_name in dic_for_unitId:
    dic_for_economyUnitCategory_df['id'].append(dic_for_unitId[unit_name])
    dic_for_economyUnitCategory_df['name'].append(unit_name)
    
for attribute in economyUnitCategory_df.columns:
    economyUnitCategory_df[attribute] = dic_for_economyUnitCategory_df[attribute]
len(economyUnitCategory_df)

29

In [14]:
count = 0
for i in range(len(economy_df)):
    if economy_df.iloc[i]['data'] == 0:
        count = count + 1
count

199

In [49]:
# economy_df.to_csv('economy_df.csv', index = False, na_rep = "NULL")

In [12]:
len(economy_df)

46270

In [51]:
# economyCategory_df.to_csv('economyCategory.csv', index = False, na_rep = "NULL")

In [52]:
# economyUnitCategory_df.to_csv('economyUnitCategory_df.csv', index = False, na_rep = "NULL")

In [13]:
print(economyCategory_df.head(2))
print(economyUnitCategory_df.head(2))
print(economy_df.head(10))

   id     name parentId
0   1  General       35
1   2  General       46
   id                        name
0   1  元每度 yuan per kilowatt-hour
1   2                 万元 10K yuan
   gazetteerId  categoryId  startYear  endYear   data  unitId
0            1          61       2008     2008   3232       3
1            1          60       2001     2001   2000      11
2            1           6       2000     2000   2565       4
3            1           6       2001     2001   2594       4
4            1           6       2008     2008   3000       4
5            2          26       1955     1955    6.9       2
6            2          26       1966     1966   8.25       2
7            2          26       1978     1978   17.9       2
8            2          26       1984     1984    572       2
9            2          26       2000     2000  749.5       2

In [ ]:
len(economy_df)