In [1]:
import pandas as pd
import numpy as np
import math
import os

In [2]:
path = os.path.abspath(os.getcwd())
df = pd.read_csv(path + "/Data2/Year of First Availability or Purchase.csv")
df = df.dropna(axis = 0, how = 'all')
df = df.where(df.notnull(), "NULL")
print(df.columns)
df.head()

Index(['村志代码 Gazetteer Code', '村志书名 Gazetteer Title', '液化气 Liquefied Gas',
       '管道燃气 Pipeline Gas', '天然气 Natural Gas', '自来水 Tap Water',
       '供电 Electricity Service', '电视机 Television Set', '电话机 Telephone',
       '有线广播 Wired-line Broadcasting'],
      dtype='object')

,村志代码 Gazetteer Code,村志书名 Gazetteer Title,液化气 Liquefied Gas,管道燃气 Pipeline Gas,天然气 Natural Gas,自来水 Tap Water,供电 Electricity Service,电视机 Television Set,电话机 Telephone,有线广播 Wired-line Broadcasting
0,1,太平店村志,NULL,NULL,NULL,NULL,NULL,1969,NULL,1956
1,2,叶店村志,NULL,NULL,NULL,NULL,1962,1966,NULL,NULL
2,3,马鞭田村志,NULL,NULL,NULL,NULL,1979,NULL,NULL,NULL
3,4,万秀村志,NULL,NULL,NULL,NULL,1955,NULL,1955,NULL
4,5,光淀村志,NULL,NULL,NULL,1979,1972,NULL,1999,NULL

In [5]:
# create category dictionary like : {'天然气': 1, ...}
categories = list(df.columns)[2:10]

category_id = {}
count = 1
for category in categories:
    if category not in category_id:
        category_id[category] = count
        count = count + 1

# create dataframe for first availability or purchase
first_df = pd.DataFrame(columns = ['gazetteerId', 'categoryId', 'first_year'])
first_dic = {'gazetteerId':[], 'categoryId':[], 'first_year':[]}

for i in range(len(df)):
    for category in categories:
        year = df[category][i]
        if year != "NULL":
            first_dic['gazetteerId'].append(df['村志代码 Gazetteer Code'][i])
            first_dic['categoryId'].append(category_id[category])
            first_dic['first_year'].append(year)

for col in first_df.columns:
    first_df[col] = first_dic[col]

first_df.head()

   gazetteerId  categoryId  first_year
0            1           6      1969.0
1            1           8      1956.0
2            2           5      1962.0
3            2           6      1966.0
4            3           5      1979.0

In [13]:
# create category_df
category_df = pd.DataFrame(columns = ['id', 'name'])
dic_for_category_df = {'id':[], 'name':[]}

for category in category_id:
    dic_for_category_df['name'].append(category)
    dic_for_category_df['id'].append(category_id[category])
        
for attribute in category_df.columns:
    category_df[attribute] = dic_for_category_df[attribute]

category_df.head()

   id                    name
0   1       液化气 Liquefied Gas
1   2       管道燃气 Pipeline Gas
2   3         天然气 Natural Gas
3   4           自来水 Tap Water
4   5  供电 Electricity Service

In [14]:
first_df.to_csv('first_df.csv', index = False, na_rep = "NULL")

In [15]:
category_df.to_csv('first_category_df.csv', index = False, na_rep = "NULL")